
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: poppins;
}
.skills_section{
    width: 100%;
    /* padding: 0px 10%; */
    padding: 100px 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    /* margin: 100px 0; */
    background-color: #e7e7e7;
    
}
.skills_head{
    width: 100%;
    margin-bottom: 50px;
    display: grid;
    place-items: center;
    text-align: center;
}
.skills_head h1{
    font-size: 30px;
    margin-bottom: -5px;
    font-weight: 600;
    font-family: 'Ubuntu', sans-serif;
    text-shadow: 1px 1px black;
}
.skills_head h1 span{
    color: darkorange;
}
.skills_main{
    width: 100%;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    /* grid-template-columns: repeat(2, 1fr); */
   
}
.skills_main .skill_bar .info{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding:  0 10px;
}

.skill_bar .bar{
    width: 100%;
    height: 10px;
    background-color: rgba(0, 0, 0, 0.144);
    border-radius: 25px;
    margin-top: 5px;
    position: relative;
}
.skill_bar .bar span{
    width: 50%;
    height: 100%;
    position: absolute;
    background-color: darkorange;
    border-radius: 25px;
}
.skill_bar .bar .html{
    width: 90%;
}

.skill_bar .bar .css{
    width: 95%;
}



.skill_bar .bar .js{
    width: 85%;
}
.skill_bar .bar .react{
    width: 80%;
}
.skill_bar .bar .node{
    width: 70%;
}


.skill-content{
    width: 30rem;
    margin-left: 20px;
    font-weight: 600;
}

.skill-graph{
    width: 25rem;
}

.info p{
    font-weight: 600;
}

@media only screen and (max-width:1100px){
    
    .skill-content{
        margin-left: 0px;
        /* margin-top: 50px; */
        text-align: center;
    }
}

@media only screen and (max-width:1081px){
    
    .skill-content{
        margin-left: 0px;
        margin-top: 50px;
        text-align: center;
    }
}

@media only screen and (max-width:600px){
    .skills_section{
        padding: 80px 30px 30px;
    }
}